<div class="routing-container">
  <h1>Routing in an .Net Core Angular Application</h1>
  There are 3 routings used in an angular .net core application.  <b>Conventional Routing</b>
  and <b>Attribute Routing</b> which are server side routings.  Additionally there is <b>
    angular routing
  </b> which is client side routing.  In order for all 3 to co-exist, we need to do
  an <a href="https://www.youtube.com/watch?v=4keNnVxOh_M">additional configuration </a>on the server side.

  <h2>Conventional Routing</h2>
  <a href="Contact">Navigate to Contact Controller View in server</a>

  <h2>Attribute Routing</h2>
  You can use attribute routing for:
  <h6>Showing views like the conventional routing</h6>
  <a href="phone">Navigate to phone in server side with attribute routing</a>
  <h6 href="Contact/xyz">Handling API calls</h6>
  <h2>Angular Routing</h2>
  <a routerLink="/testing">Navigate to an angular testing component</a> |
  <div>


  </div>
</div>

