<div class="parent" fxLayout="row">
  <div fxFlex="175px" class="left-child">
    <h3 style="margin-top: 0">Asp.net Core</h3>
    <ul class="menu">
      <li class="menuItem"><a routerLink="/apicontrollers">API Controllers</a></li>
      <li class="menuItem"><a routerLink="/ef">Entity Framework</a></li>
      <li class="menuItem"><a routerLink="/configuration">Configuration</a></li>
      <li class="menuItem"><a routerLink="/routing">MVC Routing</a></li>
      <li class="menuItem"><a routerLink="/httpclient">Http Client</a></li>
    </ul>
  </div>
  <div fxFlex class="right-child">
    <router-outlet></router-outlet>
  </div>
</div>


